{% extends 'base.html' %}

{% block body %}

    <div class="container mt-3">
        <h1>Posts</h1>
        <hr>
        {% for post in posts %}
            <div class="row border mt-4 p-3 cssposts">
                <div class="col col-2">
                    <div class="row image"> <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil)) }}" class="rounded" width="200"> </div><br>
                        <div class="row"><strong style="text-align: center">{{ post.autor.username }}</strong><br></div>
                    <div class="row">
                        {% if 'Não Informado' in post.autor.cursos or post.autor.cursos == '' %}
                            <button type="button" class="btn btn-success mt-2" disabled>Nenhum Curso Informado</button>
                        {% elif post.autor.cursos %}
                            {% for curso in post.autor.cursos.split(';') %}
                                <button type="button" class="btn btn-success mt-2" disabled>{{ curso }}</button>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="col col-10">
                    <a style="text-decoration: none" href="{{ url_for('exibir_post', post_id=post.id) }}"><h3>{{ post.titulo }}</h3></a>
                    <p>{{ post.corpo }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}