{% extends 'base.html' %}

{% block body %}
    <div>
        <a href="#" class="text-danger" data-bs-toggle="modal" data-bs-target="#AlertaDados"></a>
    </div>
    <!-- Modal -->

    <div class="modal fade" id="AlertaDados" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">ATENÇAO</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Não utilize suas credênciais reais para criar a sua conta. Todos os dados ficam expostos na página "Usuários".
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Aceitar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}